*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family: 'Manrope', sans-serif;
}
div{
    box-sizing: border-box;
}
.row{
    overflow: hidden;
}
img{
    max-width: 100%;
}
/* home page style */
 header{

}
/* navbar start */
nav .btn {
	padding: 8px 38px;
	border-radius: 25px;
    font-weight: bold;
}
#manubar{
    height: 80px;
    background-color: #0A2640 ;
    position: fixed;
    width: 100%;
}
#manubar img {
	margin-bottom: 10px;
	margin-left: 80px;
}
#manu{
    margin-right: 100px; 
}
/* bolda-tamplate start */
.boldo-tamplate{
  background-image: url(/img/home-page/home\ bg.png);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
.boldo-tamplate .btn1 {
	color: #0A2640;
	background-color: #65e4a3;
	border-radius: 25px;
	padding: 12px 32px;
    margin-top: 15px;
	border: none;
	font-size: 15px;
	font-weight: bold;
}
.boldo-tamplate .btn2 {
	background-color: #0A2640;
	color: white;
	border-radius: 25px;
	padding: 10px 32px;
    margin-top: 15px;
    margin-left: 10px;
	border: 2px solid white;
	font-size: 15px;
	font-weight: bold;
}
.boldo-tamplate-text{
    padding-top: 80px;
}
.boldo-tamplate-text h1{
    color:white; 
    font-weight: bold;
    line-height: 60px;
    font-size: 45px;
}
.pe-5 {
	padding-right: 1rem !important;
}
/* service start */
.service .title{
    font-size: 50px;
}
.service .btn {
    text-decoration: none;
    color:#081c30;
    border-bottom:1px solid #0A2640;
    font-weight: bold;
    margin-left: -14px;
    padding-bottom: 10px;
}
/* connect-1 start */
.connect-1 .py-5 {
	padding-top: 11rem !important;
	padding-bottom: 5rem !important;
}
.connect-title{
    font-size:36px;
    line-height: 60px;
}
.connect-1 .fs-1 {
    color:#0A2640;
	font-size: 1.7rem !important;
}
.connect-1 button {
  padding: 16px 56px;
  background: #0a2640;
  color: #ffff;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 20px;
}
/* connect-2 start */
.connect-2 .list-item {
    color: #000000;
    padding: 1.5rem 1rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 24px;
  }
.connect-2 .list-item:hover {
    background-color: #0a2640;
    color: white;
    border-radius: 5px;
  }
  /* enterprise-template start */
  .enterprise-template{
    background-color: #0A2640;
  }
  .enterprise-template .button-prev,
  .enterprise-template .button-next
  {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-top: 13px;
    margin-right: 25px;
  }
  .enterprise-template .slider{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5em;
  }
  .enterprise-template .slider-content{
    border-radius: 10px;
  }
  .enterprise-template .slider-content h4{
    font-weight: 500;
    line-height: 35px;
  }
  /* blog start */
.blog-title{
    font-size: 50px;
  }
.category{
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #0a2640;
    text-decoration: none;
  } 
.date {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #777777;
  }  
.title {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #000;
  }  
.profile {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000;
    text-decoration: none;
  } 
.blog .btn {
    color: #0a2640;
    padding: 16px 60px;
    border: 2px solid #0a2640;
    border-radius: 56px;
    font-weight: bold;
 }
 /* email-section start */
  .email h1{
    font-size: 50px;
    line-height: 70px;
    padding-bottom: 40px;
  }
  .email input {
    padding:16px 56px;
    background: #ffff;
    border-radius: 240px;
    border: 2px solid #ffffff;
    color: #0a2640;
    font-weight: bold;
  }
  .emailbtn {
	color: #0A2640;
	background-color: #65e4a3;
	border-radius: 45px;
	padding: 18px 51px;
	border: none;
	font-size: 16px;
	font-weight: bold;
}
/* footer start */
  .footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #777777;
  }  
  .footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
  }
  .footer a {
    text-decoration: none;
    color: #777777;
  }  
  .footer .hiring {
    padding: 1px 14px;
    margin-left: 5px;
    gap: 10px;
    background: #65e4a3;
    color: #0a2640;
    border-radius: 120px;
    font-weight: bold;
  }